<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css') }}"/>
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e46_113>
              <div  class="e46_5"></div>
              <div  class="e46_6"></div>
              <div  class="e46_7"></div>
              <div  class="e46_8"></div>
              <div  class="e46_9"></div>
              <div  class="e46_10"></div>
              <!-- 이학준 -->
              <!-- <div  class="e46_11"></div> 이름 위치 조정 필요-->
              <form method="POST" action="/button">
                <button type="submit" name="button_value" value="이학준 교수연구실" class="e46_11">
                    <!-- <div class="e46_11"></div> -->
                    <span class="e46_55">이학준</span>
                    <span class="e45_13">교수연구실</span>
                </button>
            </form>
              <!-- 김영준    -->
              <!-- <div  class="e46_60"></div>   -->
              <form method="POST" action="/button">
                <button type="submit" name="button_value" value="김영준 교수연구실" class="e46_60">
                    <!-- <div class="e46_60"></div> -->
                    <span class="e46_55">김영준</span>
                    <span class="e45_13">교수연구실</span>
                </button>
            </form>
              <div class=e55_5>



              <div  class="e46_79"></div>
                     <!-- 임베디드응용 소프트웨어실습실 -->
        <form method="POST" action="/button">
          <button type="submit" name="button_value" value="임베디드응용 소프트웨어실습실" class="e46_12">
              <!-- <span class="e46_13">임베디드응용 
                소프트웨어실습실</span> -->
          </button>
      </form>
    </div>
      <!-- 강의실(802) -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="강의실(802)" class="e46_216">
              <div class="e46_14"></div>
              <span class="e46_15">강의실(802)</span>
          </button>
      </form>

      <!-- 강의실(803) -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="강의실(803)" class="e46_215">
              <div class="e46_16"></div>
              <span class="e46_17">강의실(803)</span>
          </button>
      </form>

      <!-- 강의실(801) -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="강의실(801)" class="e46_229">
              <div class="e46_18"></div>
              <span class="e46_19">강의실(801)</span>
          </button>
      </form>

      <!-- 과학영재정보과학교실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="과학영재정보과학교실" class="e46_214">
              <div class="e46_20"></div>
              <span class="e45_26">과학영재정보과학교실</span>
              <span class="e46_21">홈네트웨크실습실</span>
          </button>
      </form>

      <!-- 컴퓨터응용실습준비실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="컴퓨터응용실습준비실" class="e46_213">
              <div class="e46_22"></div>
              <span class="e46_23">컴퓨터응용실습준비실</span>
          </button>
      </form>

      <!-- USG현장미러형 실습실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="USG현장미러형 실습실" class="e46_212">
              <div class="e46_24"></div>
              <span class="e46_25">USG현장미러형 실습실</span>
          </button>
      </form>

      <!-- 컴퓨터공학PBL실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="컴퓨터공학PBL실" class="e46_211">
              <div class="e46_26"></div>
              <span class="e46_27">컴퓨터공학PBL실</span>
          </button>
      </form>

      <!-- 소프트웨어 및 정보보안 PBL실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="소프트웨어 및 정보보안 PBL실" class="e46_210">
              <div class="e46_28"></div>
              <span class="e46_29">소프트웨어 및 정보보안 PBL실</span>
          </button>
      </form>

      <!-- 미래 인터넷 실습실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="미래 인터넷 실습실" class="e46_208">
              <div class="e46_32"></div>
              <span class="e46_33">미래 인터넷 실습실</span>
          </button>
      </form>

      <!-- 임베디드시스템실습실 캡스톤디자인실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="임베디드시스템실습실 캡스톤디자인실" class="e46_221">
              <div class="e46_36"></div>
              <span class="e46_37">임베디드시스템실습실 캡스톤디자인실</span>
          </button>
      </form>

      <!-- 자바OS실습실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="자바OS실습실" class="e46_231">
              <div class="e46_38"></div>
              <span class="e46_39">자바OS실습실</span>
          </button>
      </form>

      <!-- ABEEK자료 보관실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="ABEEK자료 보관실" class="e46_230">
              <div class="e46_40"></div>
              <span class="e46_41">ABEEK자료 보관실</span>
          </button>
      </form>

      <!-- 컴퓨터네트워크 실습준비실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="컴퓨터네트워크 실습준비실" class="e45_22">
              <div class="e46_42"></div>
              <span class="e46_43">컴퓨터네트워크 실습준비실</span>
          </button>
      </form>

      <!-- 실시간시스템 통계분석자료실습실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="실시간시스템 통계분석자료실습실" class="e45_20">
              <div class="e46_44"></div>
              <span class="e46_45">실시간시스템 통계분석자료실습실</span>
          </button>
      </form>

      <!-- 시스템분석 실습실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="시스템분석 실습실" class="e46_232">
              <div class="e46_46"></div>
              <span class="e46_47">시스템분석 실습실</span>
          </button>
      </form>

      <!-- 인터넷 데이터베이스 실습실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="인터넷 데이터베이스 실습실" class="e45_24">
              <div class="e46_48"></div>
              <span class="e46_49">인터넷 데이터베이스 실습실</span>
          </button>
      </form>

      <!-- 융합 인공지능 실습실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="융합 인공지능 실습실" class="e46_228">
              <div class="e46_50"></div>
              <span class="e46_51">융합 인공지능 실습실</span>
          </button>
      </form>

      <!-- 서쌍희 교수연구실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="서쌍희 교수연구실" class="e46_223">
              <div class="e46_71"></div>
              <span class="e46_72">서쌍희</span>
              <span class="e46_200">교수연구실</span>
          </button>
      </form>

      <!-- 김진호 교수연구실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="김진호 교수연구실" class="e46_224">
              <div class="e46_69"></div>
              <span class="e46_70">김진호</span>
              <span class="e46_204">교수연구실</span>
          </button>
      </form>

      <!-- 정민수 교수연구실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="정민수 교수연구실" class="e46_225">
              <div class="e46_67"></div>
              <span class="e46_68">정민수</span>
              <span class="e46_205">교수연구실</span>
          </button>
      </form>

      <!-- 임현일 교수연구실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="임현일 교수연구실" class="e46_226">
              <div class="e46_65"></div>
              <span class="e46_66">임현일</span>
              <span class="e46_206">교수연구실</span>
          </button>
      </form>

      <!-- 석승준 교수연구실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="석승준 교수연구실" class="e46_227">
              <div class="e46_63"></div>
              <span class="e46_64">석승준</span>
              <span class="e46_207">교수연구실</span>
          </button>
      </form>

      <!-- 공실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="공실" class="e46_209">
              <div class="e46_30"></div>
              <span class="e46_31">공실</span>
              <span class="e45_11"></span>
          </button>
      </form>

      <!-- 황두영 교수연구실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="황두영 교수연구실" class="e45_25">
              <div class="e46_61"></div>
              <span class="e46_62">황두영</span>
              <span class="e45_12">교수연구실</span>
          </button>
      </form>

      <!-- 최형우 교수연구실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="최형우 교수연구실" class="e45_23">
              <div class="e46_54"></div>
              <span class="e46_55">최형우</span>
              <span class="e45_13">교수연구실</span>
          </button>
      </form>

      <!-- 이현동 교수연구실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="이현동 교수연구실" class="e46_220">
              <div class="e46_56"></div>
              <span class="e46_57">이현동</span>
              <span class="e45_16">교수연구실</span>
          </button>
      </form>

      <!-- 이기성 교수연구실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="이기성 교수연구실" class="e46_219">
              <div class="e46_58"></div>
              <span class="e46_59">이기성</span>
              <span class="e45_17">교수연구실</span>
          </button>
      </form>

      <!-- 임지언 교수연구실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="임지언 교수연구실" class="e45_19">
              <div class="e46_52"></div>
              <span class="e46_53">임지언</span>
              <span class="e45_14">교수연구실</span>
          </button>
      </form>

      <!-- 전하영 교수연구실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="전하영 교수연구실" class="e45_18">
              <div class="e46_34"></div>
              <span class="e46_35">전하영</span>
              <span class="e45_15">교수연구실</span>
          </button>
      </form>

      <!-- 박미영 교수연구실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="박미영 교수연구실" class="e46_222">
              <div class="e46_73"></div>
              <span class="e45_9">교수연구실</span>
              <span class="e46_74">박미영</span>
          </button>
      </form>

      <!-- 컴퓨터네트워크실습실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="컴퓨터네트워크실습실" class="e45_21">
              <div class="e46_75"></div>
              <span class="e46_76">컴퓨터네트워크실습실</span>
          </button>
      </form>

      <!-- 컴퓨터공학부 사무실 -->
      <form method="POST" action="/button">
          <button type="submit" name="button_value" value="컴퓨터공학부 사무실" class="e46_218">
              <div class="e46_77"></div>
              <span class="e46_78">컴퓨터공학부 사무실</span>
          </button>
      </form></div>
          </body>
          </html>