<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#000000" />
  <title>Frame 1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="{{url_for('static', filename='styles/frame-1.css') }}"/>
</head>
<body>
<div class="frame-1-KEo">
  <p class="pepper-zVM">Pepper</p>
  <p class="ai--ZRy">ai 산업 머시깽이</p>
  <form action="/start" method="POST">
    <button type="submit" value="Button" class="auto-group-xars-EHD">탭하여 시작하기</button>
  </form>
  <div class="auto-group-hsr5-9BD">
    <img class="logo01jpg-1-gS3" src="{{url_for('static', filename='assets/logo01jpg-1.png') }}">
    <p class="kyungnam-univ-bZ1">Kyungnam Univ</p>
  </div>
</div>
</body>