<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  .auto-group-hsr5-9BD{
    margin-right: 102.6rem;
    width: calc(100% - 102.6rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
    .logo01jpg-1-gS3 {
      flex-shrink: 0;
      margin-right: 1.3rem;
      width: 4.5rem;
      height: 5.7rem;
      object-fit: cover;
      vertical-align: top;
    }
</style>
</head>
<body>
  <script>
    print("one")
   </script>
    <!-- <img class="logo01jpg-1-gS3" src="logo01jpg.png"/> -->
    <img class="logo01jpg-1-gS3" src={{ url_for('static', filename='IMG/logo01jpg.png') }}>



</body>
</html>