<launch>

   <master auto="start"/>
 <!-- Run the map server --> 
    <node name="map_server" pkg="map_server" type="map_server" args="$(find kupepper_ros)/map/map.yaml">
      <param name="frame_id" value="map" />
    </node>

 <!--- Run AMCL --> 
    <include file="$(find amcl)/examples/amcl_omni.launch" />
    <param name="/use_sim_time" value="true"/>

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find kupepper_ros)/yaml2/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find kupepper_ros)/yaml2/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find kupepper_ros)/yaml2/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find kupepper_ros)/yaml2/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find kupepper_ros)/yaml2/dwa_local_planner_params.yaml" command="load" />

    <!-- <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="local_costmap/global_frame" value="$(arg odom_frame_id)"/>
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)"/> -->

    <remap from="cmd_vel" to="cmd_vel"/>
    <!-- <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="scan" to="$(arg laser_topic)"/> -->

 </node>
<!-- 
    <node pkg="dwa_local_planner" type="move_base" respawn="false" args="DWAPlanner.cfg" name="dwa_local_planner" output="screen">

    <rosparam file="$(find kupepper_ros)/yaml2/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find kupepper_ros)/yaml2/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find kupepper_ros)/yaml2/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find kupepper_ros)/yaml2/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find kupepper_ros)/yaml2/dwa_local_planner_params.yaml" command="load" />
 </node> -->

</launch> 